@import "variables.scss";

.navbar-brand  {
  font-family: $font-moveit;
  font-weight: 600;
  font-size: 1.2rem;
}

body {
  font-family: $font-body;
  font-weight: 400;
}

.moveit {
  font-weight: 500;
  font-family: $font-moveit;
  font-size: 1.4rem;
}