@import "global.scss";
@import "typography.scss";
@import "variables.scss";
@import "buttons.scss";
@import "features.scss";

.lead {
  color: $grey;
}

.moveit::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 1.3px;
  background: $light-green;
  z-index: -1;
  transform: rotate(1deg) translate(-6rem, 2.1rem);
}

.navbar-brand::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background: rgb(71, 71, 71);
  z-index: -1;
  transform: translate(-3.6rem, 2rem);
}

span {
  width: 0;
  height: 100%;
  cursor: pointer;
  color: black;

  &:hover {
    width: 100%;
    background-color: $light-green;
    border-radius: 2px;
  }
}

.smile {
  width: 180px;
  position: absolute;
  top: 380px;
  right: 100px;
  transform: rotate(30deg);
  z-index: -1;
}

.heroimage::after {
  content: "";
  background-image: url("../assets/glitter.png");
  display: inline-block;
  position: absolute;
  top: 600px;
  left: 100px;
  width: 180px;
  height: 180px;
  background-size: cover;
  transform: rotate(-20deg);
  z-index: -1;
}

@media screen and (max-width: 500px) {
  .smile {
    opacity: 0.1;
  }

  #arrow-box {
    display: none;
  }
}